.*.swp
*~
.*~
*.aux
*.bak
*.dvi
*.elc
*.eps
*.fdb_latexmk
*.htm
*.la
*.lo
*.log
*.mod
*.o
*.out
*.output
*.pdf
*.ps
*.pyc
*.rej
*.sw[po]
*.tmp
*.toc
.#*
.*.rej

.DS_Store
.idea
.secret
.pc
.project
.~lock*

CVS
Thumbs.db
auto
autom4te.cache
tags
.python-version
vendor

packer_cache/
*/uploads/VMwareTools-*.tar.gz


